#İkinci El Araç Tahmin uYGULAMASI

In [190]:
import os
import numpy as np
import pandas as pd

In [191]:
df = pd.read_csv("kudet_arac_degerleme/data/arabamcom_merged.csv")

In [192]:
print(df.columns.tolist())

['smallest-text-minus href', 'listing-image src', 'listing-text-new', 'listing-text-new 2', 'fade-out-content-wrapper', 'fade-out-content-wrapper href 2', 'db', 'fade-out-content-wrapper 2', 'fade-out-content-wrapper 3', 'fade-out-content-wrapper 4']

In [193]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1565 entries, 0 to 1564
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   smallest-text-minus href         1565 non-null   object
 1   listing-image src                1565 non-null   object
 2   listing-text-new                 1565 non-null   object
 3   listing-text-new 2               1565 non-null   object
 4   fade-out-content-wrapper         1565 non-null   int64
 5   fade-out-content-wrapper href 2  1441 non-null   object
 6   db                               1565 non-null   object
 7   fade-out-content-wrapper 2       1180 non-null   object
 8   fade-out-content-wrapper 3       1562 non-null   object
 9   fade-out-content-wrapper 4       1562 non-null   object
dtypes: int64(1), object(9)
memory usage: 122.4+ KB
None

In [194]:
print(df.columns)

Index(['smallest-text-minus href', 'listing-image src', 'listing-text-new',
       'listing-text-new 2', 'fade-out-content-wrapper',
       'fade-out-content-wrapper href 2', 'db', 'fade-out-content-wrapper 2',
       'fade-out-content-wrapper 3', 'fade-out-content-wrapper 4'],
      dtype='object')

In [198]:
# Gereksiz sütunları sil
df.drop(columns=[
    'listing-image src',
    'fade-out-content-wrapper href 2',
    'fade-out-content-wrapper 2'
], inplace=True, errors='ignore')

# Sütunları yeniden adlandır
df.rename(columns={
    'smallest-text-minus href': 'ilan_linki',
    'listing-text-new': 'model',
    'listing-text-new 2': 'model_detay',
    'fade-out-content-wrapper': 'model_yili',
    'db': 'fiyat',
    'fade-out-content-wrapper 3': 'sehir',
    'fade-out-content-wrapper 4': 'ilce'
}, inplace=True)

In [199]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1565 entries, 0 to 1564
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ilan_linki   1565 non-null   object
 1   model        1565 non-null   object
 2   model_detay  1565 non-null   object
 3   model_yili   1565 non-null   int64
 4   fiyat        1565 non-null   object
 5   sehir        1562 non-null   object
 6   ilce         1562 non-null   object
dtypes: int64(1), object(6)
memory usage: 85.7+ KB
None

In [200]:
print(df["fiyat"].unique()[:10])  # ilk 10 farklı değeri göster

['1.350.000 TL' '1.025.000 TL' '1.910.900 TL' '1.119.900 TL'
 '1.179.900 TL' '439.000 TL' '2.100.000 TL' '2.250.000 TL' '1.850.000 TL'
 '2.799.000 TL']

In [201]:
# TL simgelerini ve boşlukları kaldır, sonra sayıya çevir
df["fiyat"] = df["fiyat"].astype(str).str.replace("[^0-9]", "", regex=True)
df["fiyat"] = pd.to_numeric(df["fiyat"], errors="coerce")

In [202]:
print(df["fiyat"].head(10))
print(df["fiyat"].dtype)
print(df["fiyat"].isnull().sum())  # kaç tanesi NaN olmuş

0    1350000
1    1025000
2    1910900
3    1119900
4    1179900
5     439000
6    2100000
7    2250000
8    1850000
9    2799000
Name: fiyat, dtype: int64
int64
0

In [206]:
def parse_ilan_link(link):
    try:
        if not isinstance(link, str):
            return {}

        parts = link.split("/")
        if len(parts) < 5:
            return {}

        segment = parts[4]
        pieces = segment.split("-")

        return {
            "ilan_turu": pieces[0] if len(pieces) > 0 else None,
            "tip": pieces[1] if len(pieces) > 1 else None,
            "marka": pieces[2] if len(pieces) > 2 else None,
            "model": pieces[3] if len(pieces) > 3 else None,
            "motor_hacmi": ".".join(pieces[4:6]) if len(pieces) > 5 else None,
            "motor_tipi": pieces[6] if len(pieces) > 6 else None,
            "donanim": pieces[7] if len(pieces) > 7 else None,
            "donanim_detay": pieces[8] if len(pieces) > 8 else None,
            "model_yili": pieces[9] if len(pieces) > 9 else None,
            "yakit": pieces[10] if len(pieces) > 10 else None,
            "vites": pieces[11] if len(pieces) > 11 else None
        }
    except Exception as e:
        print("Hata:", e)
        return {}

In [207]:
parsed_df = df["ilan_linki"].apply(parse_ilan_link).apply(pd.Series)
df = pd.concat([df, parsed_df], axis=1)
df = df.loc[:, ~df.columns.duplicated()]

In [208]:
print(df[["marka", "model", "motor_hacmi", "vites"]].sample(5))

          marka                                             model motor_hacmi  \
465     peugeot                  Peugeot 308 1.6 THP Feeline Plus         1.6
215     renault                           Renault Captur 1.2 Icon         1.2
709  volkswagen  Volkswagen Passat 1.4 TSi BlueMotion Comfortline         1.4
726     citroen                         Citroen C3 1.4 Attraction         1.4
866        fiat                     Fiat Doblo Cargo 1.6 Multijet     cargo.1

    vites
465  None
215  None
709  None
726  None
866  None

In [209]:
print(df.columns)

Index(['ilan_linki', 'model', 'model_detay', 'model_yili', 'fiyat', 'sehir',
       'ilce', 'ilan_turu', 'tip', 'marka', 'motor_hacmi', 'motor_tipi',
       'donanim', 'donanim_detay', 'yakit', 'vites'],
      dtype='object')

In [210]:
print(df['marka'].unique())
print(df['model_yili'].unique())
print(df['vites']
)

['jeep' 'hyundai' 'chery' 'fiat' 'renault' 'mercedes' 'volvo' 'nissan'
 'skoda' 'peugeot' 'seat' 'audi' 'bmw' 'volkswagen' 'toyota' 'honda'
 'citroen' 'ford' 'tofas' 'opel' 'ssangyong' 'land' 'kia' 'dacia' 'iveco'
 'porsche' 'mitsubishi' 'yamaha' 'river' 'jaguar' 'kuba' 'chevrolet'
 'maserati' 'ticari' 'bajaj' 'mini' 'tvs' 'baoli' 'togg' 'karsan' 'kral'
 'skywell' 'alfa' 'car' 'mazda' 'mg' 'revolt' 'isuzu' 'smart' 'ds' 'new'
 'universal' 'yuki' 'suzuki' 'otokar' 'yiben' 'lamborghini']
[2019 2013 2024 2022 2017 2012 2021 1997 2011 2014 2015 2025 2023 2016
 2018 2003 2020 2010 1993 2009 2007 2000 2005 2006 1988 1998 1999 1992
 2004 2008 1994 2001 1991 1996 1990 2002 1995]
0       None
1       None
2       None
3       None
4       None
        ...
1560    None
1561    None
1562    None
1563    None
1564    None
Name: vites, Length: 1565, dtype: object

In [211]:
print(df.columns.tolist())

['ilan_linki', 'model', 'model_detay', 'model_yili', 'fiyat', 'sehir', 'ilce', 'ilan_turu', 'tip', 'marka', 'motor_hacmi', 'motor_tipi', 'donanim', 'donanim_detay', 'yakit', 'vites']

In [212]:
print(df.isnull().sum())

ilan_linki          0
model               0
model_detay         0
model_yili          0
fiyat               0
sehir               3
ilce                3
ilan_turu           0
tip                 0
marka               0
motor_hacmi        68
motor_tipi        105
donanim           354
donanim_detay    1008
yakit            1556
vites            1561
dtype: int64

In [213]:
df.drop(columns=["vites", "yakit", "donanim_detay"], inplace=True)

In [214]:
df["motor_hacmi"].fillna("bilinmiyor", inplace=True)
df["motor_tipi"].fillna("bilinmiyor", inplace=True)
df["donanim"].fillna("bilinmiyor", inplace=True)

In [215]:
print(df.isnull().sum())
print(df.shape)

ilan_linki     0
model          0
model_detay    0
model_yili     0
fiyat          0
sehir          3
ilce           3
ilan_turu      0
tip            0
marka          0
motor_hacmi    0
motor_tipi     0
donanim        0
dtype: int64
(1565, 13)

In [216]:
df = df[(df["model_yili"] >= 1980) & (df["fiyat"] >= 100000)]
print(df.shape)
print(df[["model_yili", "fiyat"]].describe())

(1551, 13)
        model_yili         fiyat
count  1551.000000  1.551000e+03
mean   2014.214055  1.117144e+06
std       7.178504  2.815328e+06
min    1988.000000  1.050000e+05
25%    2011.000000  5.342500e+05
50%    2015.000000  8.050000e+05
75%    2020.000000  1.227500e+06
max    2025.000000  6.200000e+07

In [217]:
print(df.columns)

Index(['ilan_linki', 'model', 'model_detay', 'model_yili', 'fiyat', 'sehir',
       'ilce', 'ilan_turu', 'tip', 'marka', 'motor_hacmi', 'motor_tipi',
       'donanim'],
      dtype='object')

In [218]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1551 entries, 0 to 1564
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ilan_linki   1551 non-null   object
 1   model        1551 non-null   object
 2   model_detay  1551 non-null   object
 3   model_yili   1551 non-null   int64
 4   fiyat        1551 non-null   int64
 5   sehir        1548 non-null   object
 6   ilce         1548 non-null   object
 7   ilan_turu    1551 non-null   object
 8   tip          1551 non-null   object
 9   marka        1551 non-null   object
 10  motor_hacmi  1551 non-null   object
 11  motor_tipi   1551 non-null   object
 12  donanim      1551 non-null   object
dtypes: int64(2), object(11)
memory usage: 169.6+ KB
None

In [219]:
df.drop(columns=["ilan_linki"], inplace=True)

In [220]:
print(df.columns)

Index(['model', 'model_detay', 'model_yili', 'fiyat', 'sehir', 'ilce',
       'ilan_turu', 'tip', 'marka', 'motor_hacmi', 'motor_tipi', 'donanim'],
      dtype='object')

In [221]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1551 entries, 0 to 1564
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   model        1551 non-null   object
 1   model_detay  1551 non-null   object
 2   model_yili   1551 non-null   int64
 3   fiyat        1551 non-null   int64
 4   sehir        1548 non-null   object
 5   ilce         1548 non-null   object
 6   ilan_turu    1551 non-null   object
 7   tip          1551 non-null   object
 8   marka        1551 non-null   object
 9   motor_hacmi  1551 non-null   object
 10  motor_tipi   1551 non-null   object
 11  donanim      1551 non-null   object
dtypes: int64(2), object(10)
memory usage: 157.5+ KB
None

In [222]:
# En sık geçen şehir ve ilçe değerlerini al
sehir_mode = df["sehir"].mode()[0]
ilce_mode = df["ilce"].mode()[0]

# Eksik olanları bunlarla doldur
df["sehir"].fillna(sehir_mode, inplace=True)
df["ilce"].fillna(ilce_mode, inplace=True)

In [223]:
print(df[["sehir", "ilce"]].isnull().sum())

sehir    0
ilce     0
dtype: int64

In [226]:
# Benzersiz motor hacmi değerlerini al, boş olmayanları sırala
print(df["motor_hacmi"].dropna().unique())

['1.6' '8.pro' 'cross.1' '1.5' 'axor.1840' 'sx.2' 'e.180' '1.0' '2.0'
 'serisi.520i' '3.0' 'serisi.418i' '1.4' 'bilinmiyor' 'combi.1' '2.4'
 'variant.1' '1.8' 'elysee.1' 'sedan.1' '1.3' 'sedan.35' 'courier.1'
 '19.1' 'aircross.1' 'sportback.45' 'serisi.216d' 'city.1' 'e.200' 'e.300'
 'freelander.2' 'express.1' '3.2' '1.2' 'blue.1' '1.33' 'x.1'
 'serisi.316i' 'trail.1' 'connect.1' 'hr.1' '2.3' '72.160' 'gt3.rs'
 '300.city' '0.9' 'a.180' 'sportback.1' 'c.180' 'serisi.320i' 'cargo.2520'
 '9.1' 'evo.1' 'sedan.2' 'cargo.1' 'c.200' 'cla.200' '16d.sdrive' '2.2'
 'roc.1' '2.7' 'sportback.2' 'up.4wd' 'v.2' 'range.evoque' 'serisi.520d'
 'serisi.730d' '2.5' 'serisi.m5' 'canter.8bl' 'dorse.kuru' '1200.x'
 '200.rs' '300.s' 'transit.350' 'eqb.250' 'e.220' 'transit.14'
 'transit.16' 'panorama.1' 'countryman.1' 's.350' '1.9' 'transit.t330'
 '1.6d' '1.25' 'glk.220' '15.1' 'kr.305' '13.m3' 'serisi.320d' 'glc.350'
 'cherokee.5' 'serisi.318d' 'premium.plus' 'serisi.116i' 'era.1'
 'multix.1' 'tonale.1' 'a.200' '250.d' 'serisi.316ti' '5.vites' '400.ug'
 'ailesi.500l' '20d.xdrive' '2.1' 'serisi.116d' 'range.3' 'eqs.53'
 'sole.1' 'x.250' '147.1' '25d.xdrive' '300.camli' 'troy.1' '350.m'
 '7.pro' 'avant.2' 'ds7.crossback' 'ds9.1' 'serisi.i5' 'sedan.40'
 'connect.k210' 'grande.1' '5.1' '12.toros' '300.te' 'thor.450'
 'serisi.118i' '1.1' '85.85' 's.cross' '1.7' 'serisi.i4' 'uzun.sasi'
 '10.long' 'sportback.35' 'e.favoured' 'e.tron' 'lp.580' 'cherokee.3']

In [227]:
# En çok geçen motor hacmi değerlerini frekansla birlikte göster
print(df["motor_hacmi"].value_counts(dropna=False).head(30))  # ilk 30 değer

motor_hacmi
1.6            302
1.5            198
1.4            150
1.3            106
1.2             89
combi.1         61
bilinmiyor      55
2.0             50
1.0             48
cross.1         21
courier.1       17
elysee.1        16
connect.1       16
sedan.2         15
sedan.1         13
serisi.320i     13
cargo.1         13
1.9             12
1.8             12
serisi.520i     11
c.180           11
a.180           10
e.220           10
3.0              9
s.350            9
aircross.1       9
blue.1           8
panorama.1       8
serisi.316i      7
0.9              7
Name: count, dtype: int64

In [224]:
pd.set_option("display.max_columns", None)  # Tüm sütunlar görünsün
print(df.sample(50))

                                                 model  \
889                  Renault Megane 1.5 dCi Touch Plus
1186                          Seat Arona 1.0 EcoTSI FR
1496             Ticari Araçlar Dorse Kuru Yük Kapaklı
956                      Renault Fluence 1.5 dCi Touch
1026            Citroen C3 Aircross 1.2 PureTech Shine
954                      Fiat Egea 1.6 Multijet Lounge
110                 Nissan Qashqai 1.5 dCi Design Pack
607                  Renault Fluence 1.5 dCi Privilege
1343                 Audi A3 Sedan 1.4 TFSI Attraction
851              Volkswagen Tiguan 1.4 TSI Sport&Style
904                      Skoda SuperB 2.0 TDI Prestige
941                     Opel Crossland 1.2 T Essential
178                 Fiat Doblo Combi 1.6 Multijet Easy
932   Volkswagen Passat 1.6 TDi BlueMotion Comfortline
377                      Skoda SuperB 2.0 TDI Prestige
552                Fiat Fiorino Combi 1.3 Multijet Pop
756                            Kia Sorento 2.5 CRDi EX
580              Renault Clio 0.9 TCe Sport Tourer Joy
911              Volkswagen Tiguan 1.4 TSI Sport&Style
1490                                     Tofaş Doğan L
81                    Opel Corsa 1.2 Twinport Essentia
436                        Mercedes - Benz E 220 D AMG
31               Fiat Doblo Combi 1.6 Multijet Dynamic
1365                      Hyundai Tucson 1.6 GDi Elite
1347                        BMW 5 Serisi 520i Standart
1292                              Seat Ibiza 1.4 Style
571                      Dacia Sandero 1.5 dCi Stepway
1169               Ford Transit Courier 1.5 TDCi Trend
969                            BMW 5 Serisi 520d Sport
1067               Honda Civic 1.6 i-VTEC ECO Elegance
4                          Renault Captur 1.5 dCi Icon
202                     Skoda Octavia 1.6 TDI Style CR
531                     Audi A3 Sedan 1.6 TDI Ambiente
13            Renault Clio 1.5 dCi Grandtour Executive
1359   Volkswagen Golf 1.6 TDi BlueMotion Midline Plus
609                             Opel Astra 1.4 Classic
1506                        MINI Countryman E Favoured
1235              Fiat Doblo Combi 1.3 Multijet Premio
1402       Ford Tourneo Courier 1.6 TDCi Journey Trend
537                         Peugeot 301 1.6 HDi Active
126              Renault Clio 0.9 TCe Sport Tourer Joy
117                      Dacia Sandero 1.5 dCi Stepway
460                       Mercedes - Benz Axor 1840 LS
23      Volkswagen Golf 1.6 TDi BlueMotion Comfortline
806                   Mercedes - Benz EQB 250 AMG Plus
185                        Ford Focus 1.5 TDCi Trend X
479                     Peugeot 301 1.6 BlueHDI Active
698                         Ford Kuga 1.5 TDCi ST Line
1210                        Nissan Juke 1.6 Sport Pack
946                       Opel Combo 1.5 CDTI Ultimate

                                            model_detay  model_yili    fiyat  \
889   Galeriden Renault Megane 1.5 dCi Touch Plus 20...        2015   667500
1186  2021 BOYASIZ HATASIZ SEAT ARONA 1.0 EcoTSI FR ...        2021  1259000
1496  VSB GRUP 'dan 2019 MODEL İHSANTREYLER 13.60 KU...        2019   500000
956             Sahibinden Hatasız 71.000km’de emsalsiz        2012   724500
1026  CİTROEN C3 AİRCROSS 1.2 PURTECH SHİNE HATASIZ ...        2023  1303500
954   Sahibinden Fiat Egea 1.6 Multijet Lounge 2016 ...        2016   670000
110   AKTÜRK'TEN HATASIZ 2017 NİSSAN QASHGAİ 1.5 DCI...        2017  1250000
607   BOYASIZ OTOMATİK SANRUF DERİ BÜYÜK EKRAN EMSAL...        2011   690000
1343  HATASIZ DEĞİŞENSİZ AUDİ A3 1.4 TFSI EMSALSİZ T...        2015  1139000
851      OSCAR'dan DÜŞÜK KM DEĞİŞENSİZ TİGUAN 4 EMİTİON        2011   865000
904   2014 DERİ KOLTUK SOĞUTMA 4 KOLTUK ISITMA ANAHT...        2014  1150000
941   2023 OPEL Crossland 1.2 T** 24 Bin Kilometre* ...        2023  1179750
178   2019 MODEL HATASIZ BOYASIZ 1.6 MULTIJET 105 HP...        2019   675000
932   ORTAKÖY OTOMOTİVDEN 150 BİN KM HATASIZ BOYASIZ...        2011  1025000
377   2014 DERİ KOLTUK SOĞUTMA 4 KOLTUK ISITMA ANAHT...        2014  1150000
552                              MİL MOTORS'TAN FİORİNO        2023   699000
756   Galeriden Kia Sorento 2.5 CRDi EX 2005 Model İ...        2005   420000
580   BERŞAH 2019 0.9TCE CLİO SW JOY HATASIZ-BOYASIZ...        2019   729000
911      OSCAR'dan DÜŞÜK KM DEĞİŞENSİZ TİGUAN 4 EMİTİON        2011   865000
1490  1992 DOĞAN L - 1.6 / %50 PEŞİN KALANA VADE - K...        1992   145000
81                                      2009 Opel Corsa        2009   455000
436   2017'E.220d AMG 4.MATİC HATASIZ BOYASIZ COMAND...        2017  3480000
31    Galeriden Fiat Doblo Combi 1.6 Multijet Dynami...        2010   379000
1365  VERA OTOMOTİV'den 2018 HYUNDAİ TUCSON HATASIZ ...        2018  1399000
1347                ZEY/MİR DEN HASTASINA KIYMET BİLENE        1996   349000
1292  2013 BOYASIZ SEAT IBİZA 1.4 STYLE CAM TAVANLI ...        2013   765000
571                 HATASIZ YENİ KASA 66.000 KM STEPWAY        2017   845000
1169  %20 FATURALI 2023 MDL TRANSİT COURİER 50 BİN K...        2023   549999
969      Sahibinden BMW 5 Serisi 520d MSport 2009 Model        2009  1099000
1067  %20 PEŞİNAT 12 18 24 36 AY SENET HATASIZ BOYAS...        2017  1149750
4     CAPTUR 2017 1.5 DCİ EDC ICON 36.BİN KM''DE HAT...        2017  1179900
202   TUĞRA/2015/1.6 TDI/DSG/STYLE/164.000 KM.DE/1,5...        2015   985000
531   Galeriden Audi A3 Sedan 1.6 TDI sportline 2016...        2016  1280000
13    Sahibinden Renault Clio 1.5 dCi Grandtour 20. ...        2011   570000
1359  HATASIZ BOYASIZ DEĞİŞENSİZ TRAMERSİZ GOLF 7 20...        2013   770000
609   AUTO SFG'DEN BAYRAM FIRSATI TAKSİT SEÇENEKLİ L...        2005   269000
1506  2024 MİNİ COUTRYMAN E FAVOURED -HATASIZ-BOYASI...        2024  2380000
1235  2014 YENİ MUAYENELİ MOTOR SANZUMAN ON NUMARA T...        2014   399000
1402  OTOMOBİL RUHSATLI 2016 FORD TOURNEO CORİER HAT...        2016   680000
537                      ÖZDEMİR MOTORS DAN PEUGEOT 301        2016   540000
126   BERŞAH 2019 0.9TCE CLİO SW JOY HATASIZ-BOYASIZ...        2019   729000
117                 HATASIZ YENİ KASA 66.000 KM STEPWAY        2017   845000
460   Sahibinden Mercedes - Benz Axor 1840 LS roterd...        2012  2100000
23    İLK EL YETKİLİ SERVİS BAKIMLI 1.6 DİZEL OTOMAT...        2015   970000
806   Sahibinden Mercedes - Benz EQB 250 AMG Plus 20...        2024  2500000
185   2021 MODEL HATASIZ 1.5 TDCI TRENDX OTOMATİK FOCUS        2021  1195000
479   Sahibinden Peugeot 301 1.6 BlueHDI Active 2018...        2018   630000
698   HATASIZ BOYASIZ DEĞİŞENSİZ HASAR KAYITSIZ K.KA...        2017  1405000
1210  ASLAN'DAN HATASIZ DEĞİŞENSİZ DÜŞÜK KM NİSSAN JUKE        2011   685000
946   Galeriden Opel Combo 1.5 CDTI Ultimate 2022 Mo...        2022  1120000

               sehir           ilce   ilan_turu      tip       marka  \
889        Şanlıurfa        Siverek   galeriden  satilik     renault
1186           Konya        Karatay   galeriden  satilik        seat
1496          Ankara        Gölbaşı   galeriden  satilik      ticari
956       Diyarbakır         Bağlar  sahibinden  satilik     renault
1026        İstanbul       Bağcılar   galeriden  satilik     citroen
954          Malatya     Battalgazi  sahibinden  satilik        fiat
110          Kocaeli        Derince   galeriden  satilik      nissan
607             Ordu      Altınordu   galeriden  satilik     renault
1343           İzmir       Gaziemir   galeriden  satilik        audi
851         Tekirdağ      Çerkezköy   galeriden  satilik  volkswagen
904            İzmir       Gaziemir   galeriden  satilik       skoda
941         İstanbul     Eyüpsultan   galeriden  satilik        opel
178           Elazığ         Merkez   galeriden  satilik        fiat
932          Aksaray        Ortaköy   galeriden  satilik  volkswagen
377            İzmir       Gaziemir   galeriden  satilik       skoda
552            Bursa        Nilüfer   galeriden  satilik        fiat
756         İstanbul   Küçükçekmece   galeriden  satilik         kia
580           Ankara         Akyurt   galeriden  satilik     renault
911         Tekirdağ      Çerkezköy   galeriden  satilik  volkswagen
1490          Ankara       Altındağ   galeriden  satilik       tofas
81            Ankara  Kahramankazan   galeriden  satilik        opel
436           Ankara         Akyurt   galeriden  satilik    mercedes
31           Antalya      Muratpaşa   galeriden  satilik        fiat
1365           Düzce         Merkez   galeriden  satilik     hyundai
1347          Ankara         Sincan   galeriden  satilik         bmw
1292          Ankara         Akyurt   galeriden  satilik        seat
571            İzmir       Gaziemir   galeriden  satilik       dacia
1169         Kayseri      Kocasinan   galeriden  satilik        ford
969         İstanbul        Esenler  sahibinden  satilik         bmw
1067        İstanbul       Ümraniye   galeriden  satilik       honda
4            Sakarya       Serdivan   galeriden  satilik     renault
202   Afyonkarahisar         Merkez   galeriden  satilik       skoda
531            Adana         Seyhan   galeriden  satilik        audi
13             İzmir        Bornova  sahibinden  satilik     renault
1359           Adana        Sarıçam   galeriden  satilik  volkswagen
609         İstanbul       Bağcılar   galeriden  satilik        opel
1506          Ankara        Çankaya   galeriden  satilik        mini
1235         Kayseri      Kocasinan   galeriden  satilik        fiat
1402          Samsun     Vezirköprü   galeriden  satilik        ford
537          Kayseri      Kocasinan   galeriden  satilik     peugeot
126           Ankara         Akyurt   galeriden  satilik     renault
117            İzmir       Gaziemir   galeriden  satilik       dacia
460          Denizli       Sarayköy  sahibinden  satilik    mercedes
23            Elazığ         Merkez   galeriden  satilik  volkswagen
806         İstanbul     Beylikdüzü  sahibinden  satilik    mercedes
185           Elazığ         Merkez   galeriden  satilik        ford
479         İstanbul       Esenyurt  sahibinden  satilik     peugeot
698         Tekirdağ      Çerkezköy   galeriden  satilik        ford
1210         Isparta  Şarkikaraağaç   galeriden  satilik      nissan
946          Antalya      Muratpaşa   galeriden  satilik        opel

      motor_hacmi  motor_tipi     donanim
889           1.5         dci       touch
1186          1.0      ecotsi          fr
1496   dorse.kuru         yuk     kapakli
956           1.5         dci       touch
1026   aircross.1           2    puretech
954           1.6    multijet      lounge
110           1.5         dci      design
607           1.5         dci   privilege
1343      sedan.1           4        tfsi
851           1.4         tsi       sport
904           2.0         tdi    prestige
941           1.2           t   essential
178       combi.1           6    multijet
932           1.6         tdi  bluemotion
377           2.0         tdi    prestige
552       combi.1           3    multijet
756           2.5        crdi          ex
580           0.9         tce       sport
911           1.4         tsi       sport
1490   bilinmiyor  bilinmiyor  bilinmiyor
81            1.2    twinport    essentia
436         e.220           d         amg
31        combi.1           6    multijet
1365          1.6         gdi       elite
1347  serisi.520i    standart  bilinmiyor
1292          1.4       style  bilinmiyor
571           1.5         dci     stepway
1169    courier.1           5        tdci
969   serisi.520d       sport  bilinmiyor
1067          1.6           i        vtec
4             1.5         dci        icon
202           1.6         tdi       style
531       sedan.1           6         tdi
13            1.5         dci   grandtour
1359          1.6         tdi  bluemotion
609           1.4     classic  bilinmiyor
1506   e.favoured  bilinmiyor  bilinmiyor
1235      combi.1           3    multijet
1402    courier.1           6        tdci
537           1.6         hdi      active
126           0.9         tce       sport
117           1.5         dci     stepway
460     axor.1840          ls  bilinmiyor
23            1.6         tdi  bluemotion
806       eqb.250         amg        plus
185           1.5        tdci       trend
479           1.6     bluehdi      active
698           1.5        tdci          st
1210          1.6       sport        pack
946           1.5        cdti    ultimate

In [225]:
df.to_csv("temizlenmis_arac_verisi.csv", index=False)